#Spots you might put a common copy of the headers for safe keeping (Won't be loaded from here though)
Games/
src/Games/

# D3D9 headers and build output
src/D3D9/Games/
src/D3D9/Build/
src/D3D9/System/

# D3D10 headers and build output
src/D3D10/Games/
src/D3D10/Build/
src/D3D10/System/
src/D3D10/_work/
src/D3D10/.vs/
src/D3D10/packages/

# OpenGL headers and build output
src/OpenGL/Games/
src/OpenGL/Build/
src/OpenGL/System/

#  DirectX SDK needed for D3D10
src/dxsdk-jun2010/